*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
}
.container{
 align-items: center;
 display: flex;
 justify-content: center;
 height: 50vh;
 flex-direction: column;
}
.btn{
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
}
.item{
  align-items: center;
 display: flex;
 justify-content: center;
 height: 50vh;
 overflow-x: hidden;
 flex-direction: column;
}